<h1>Welcome To Runner's Analyzer</h1>

<button type="button"> Sign Up </button> <button type="button"> Sign In </button>

<div class = "pages">
    <h3> Pages </h3>
    <ul>
        <li>Log A Race</li>
        <li>View Your Races</li>
        <li>Metrics Dashboard</li>
    </ul>
</div>
